
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SubmitData</title>
</head>
<body>
    <div>
        Data Added
    </div>
    <br />
    <br />
    <div><button type="button" onclick="goBack()" name="Go back" />Go Back</button></div>
</body>
<script>
    function goBack() {
        window.history.back();
    }
</script>
</html>
